@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600&display=swap');
body{
margin: 0;
padding: 0;

}

  
.title{
  font-family: 'Poppins', sans-serif;
}
.toggle-button{
  font-family: 'Poppins', sans-serif;
  height: 40px;
  width: 100px;
  background-color: rgb(215, 51, 106);
  color: white;
  border: none;
  font-size: medium;
  font-weight: 600;
  border-radius: 5px;
}
.heading{
  font-family: 'Poppins', sans-serif;
  color:rgb(215, 51, 106) ;
  font-size: xx-large;
}
.date{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: medium;
}
.content{
  font-family: 'Poppins', sans-serif; 
}
.top{
  display: flex;
  align-items: center;
  gap: 150px ;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dispcomp{
  text-align: left;
 margin-top: 50px;
}
.components{
  align-items: flex-start;
}